.footer{
    position: fixed;
    bottom: 0px;
    background-color: var(--background-color);
    box-shadow: var(--Depth8);
    backdrop-filter: blur(13px);
    width: 100%;
    padding: 7px;
    font-size: 14px;
    text-align: center;
    z-index: 999;
}